body{
    margin:0;
    padding:0;
}

.list,.chasseur{
display:flex;
justify-content: space-around;
flex-wrap: wrap;
}

.tete{
border-radius: 50%;
width:200px;
height:200px;
box-shadow: 2px 2px 3px darkred;
}

.chasseur{
    display: grid;
    grid-template-columns: 1fr  ;
    align-items: center;
}